<!DOCTYPE html>

<html>

<head>
    <title>Header Parser Mircoservice</title>
    <meta name="description" content="A FCC project to build a fullstack application to return the user's browser details.">
    <meta charset="UTF-8">
    <link href="/style.css" type="text/css" rel="stylesheet" />
</head>
    
    <body>
    <h1>Request Header Parser Microservice</h1>
        <h2>This project has the following user story:</h2>
        <li>I can get the IP address, language and operating system for my browser.</li>
        
        <h2>Example usage:</h2>
        <li>some shit here</li>
        
        <div id="icons" class="col-xs-12">
            <a href="https://www.freecodecamp.com/challenges/request-header-parser-microservice" target="_blank">
                <i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i></a>
            <a href="https://github.com/doug-dryburgh/FCC-Timestamp" target="_blank">
                <i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
            <a href="http://ddryburugh.com" target="_blank">
                <i class="fa fa-user fa-3x" aria-hidden="true"></i></a>

            <a href="mailto:douglas.dryburgh@gmail.com">
                <i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/doug-dryburgh-7056b513b/" target="_blank">
                <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
        </div>
        
        
    <script src="https://use.fontawesome.com/00e02cdbce.js"></script>
    </body>

</html>
